{% load static %}
<html>
    <head>
        <title>Sign Up Form</title>
        <meta name="charset" content="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <script type="text/javascript" src="{% static 'common/jquery-2.2.2.js' %}"></script>
        <script type="text/javascript" src="{% static 'common/bootstrap/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'common/bootstrap/css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="{% static 'common/bootstrap/css/bootstrap.min.css' %}" >
    </head>
    <body style="background-image: url({% static 'common/bg.png' %})">
        {% block _content %}{% endblock %}
        <script type="text/javascript">
            {% block _body_script %}{% endblock %}
        </script>
    </body>
</html>